# Social Media Links & Handles
VITE_GITHUB_URL=https://github.com
VITE_GITHUB_USERNAME=@chamila

VITE_LINKEDIN_URL=https://linkedin.com
VITE_LINKEDIN_USERNAME=Chamila

# Contact Details
VITE_EMAIL=hello@example.com
