# Social Media Links & Handles
VITE_GITHUB_URL=https://github.com
VITE_GITHUB_USERNAME=@chamila

VITE_LINKEDIN_URL=https://linkedin.com
VITE_LINKEDIN_USERNAME=Chamila

# Contact Details
VITE_EMAIL=hello@example.com

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_TEMPLATE_ID_ME=your_owner_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
